body{
    background-color: black;
}

#hi{
    color: aqua;
    text-decoration: none;
    height: 2em;
}
.bye{
    color: aqua;
    height:2em;
}
.byet{
    color: aqua;
    height: 2em;
}
#ff{
    color: aqua;
    border-width: 0.5px;
    text-align: center;
    align-self: auto;
    
}
#gg{
    color: aqua;
    text-align: center;
   
}
